# Ignore Everything
/*

# Except for...
!.gitignore
!README.md

# /Devlopment/Src/AsteroidsGame/Classes
!/Development/
/Development/*
!/Development/Src/
/Development/Src/*
!/Development/Src/AsteroidsGame/
/Development/Src/AsteroidsGame/*
!/Development/Src/AsteroidsGame/Classes

# /UDKGame/Config/
!/UDKGame/
/UDKGame/*
!/UDKGame/Config/
/UDKGame/Config/*
!/UDKGame/Config/DefaultGame.ini
!/UDKGame/Config/DefaultEngine.ini